In [1]:
import pandas as pd
locations=pd.read_csv("rajkot_locations.csv")

In [2]:
locations

         index  count
0     Amargadh   5124
1      Aniyala   2523
2       Badpar   2504
3       Barvan   2235
4        Bedla   2144
..         ...    ...
77      Vadali     27
78       Vajdi     22
79  Vajdi Gadh     22
80     Vankvad     19
81     Vejagam     18

[82 rows x 2 columns]

In [3]:
locations['new_Name']='Rajkot '+locations['index']

In [4]:
locations.head()

      index  count         new_Name
0  Amargadh   5124  Rajkot Amargadh
1   Aniyala   2523   Rajkot Aniyala
2    Badpar   2504    Rajkot Badpar
3    Barvan   2235    Rajkot Barvan
4     Bedla   2144     Rajkot Bedla

In [5]:
import numpy as np

In [6]:
from geopy.geocoders import Nominatim

In [7]:
lat=[]
lon=[]
geolocator=Nominatim(user_agent="app")
for location in locations['index']:
    location = geolocator.geocode(location)
    if location is None:
        lat.append(np.nan)
        lon.append(np.nan)
    else:    
        lat.append(location.latitude)
        lon.append(location.longitude)

In [8]:
locations['latitude']=lat
locations['longitude']=lon

In [20]:
locations

         index  count           new_Name   latitude  longitude
0     Amargadh   5124    Rajkot Amargadh  23.307434  69.059766
1      Aniyala   2523     Rajkot Aniyala  25.918854  76.685064
2       Badpar   2504      Rajkot Badpar        NaN        NaN
3       Barvan   2235      Rajkot Barvan        NaN        NaN
4        Bedla   2144       Rajkot Bedla  48.739270  21.177374
..         ...    ...                ...        ...        ...
77      Vadali     27      Rajkot Vadali  23.941112  73.040375
78       Vajdi     22       Rajkot Vajdi  22.260675  70.707458
79  Vajdi Gadh     22  Rajkot Vajdi Gadh        NaN        NaN
80     Vankvad     19     Rajkot Vankvad        NaN        NaN
81     Vejagam     18     Rajkot Vejagam        NaN        NaN

[82 rows x 5 columns]

In [24]:
locations= locations[locations['latitude'].notna()]

In [25]:
locations.isnull().sum()

index        0
count        0
new_Name     0
latitude     0
longitude    0
dtype: int64

In [26]:
def generateBaseMap(default_location=[12.97, 77.59], default_zoom_start=12):
    base_map = folium.Map(location=default_location, zoom_start=default_zoom_start)
    return base_map

In [27]:
import folium
from folium.plugins import HeatMap
basemap=generateBaseMap()

#### Heatmap of Restaurant

In [28]:
HeatMap(locations[['latitude','longitude','count']].values.tolist(),zoom=20,radius=15).add_to(basemap)

In [29]:
basemap

#### wordcloud of Customer Preference